<h1>
  Sets of cards
</h1>
<% if false%>
  <%#Shows all the sets %>
  <% @set_of_cards.each do |set| %>
    <div>
      <p><%=set['title'] %></p>
      <p><%=set['amount'] %></p>
    </div>
  <% end %>
<%end %>